@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-green-500 py-2 font-semibold text-white 
     hover:bg-green-400;
  }
  .btn-secondary {
    @apply bg-red-500 py-2 font-semibold text-white 
     hover:bg-red-400;
  }
  .primary-bg-color {
    background-color: #e6e6be;
  }
  .secondary-bg-color {
    background-color: #dfdfbf;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #efeee0;
}

.nextTodo {
  font-family: "Playfair Display", serif;
}

.wowpixels {
  font-family: "Chewy", cursive;
}

ul > li {
  @apply relative z-20 mb-1 flex;
}

ul > li .nextItem {
  @apply grow cursor-pointer select-none rounded-l-2xl bg-white py-2 pl-6 shadow-sm;
}

.trashBtnBox {
  @apply w-12 cursor-pointer rounded-r-2xl bg-red-500 px-4 py-2 text-white shadow-sm hover:bg-red-600;
}

.completed {
  @apply hidden bg-gray-100 text-gray-400 line-through;
}

.nextItemCompleted {
  @apply w-full select-none rounded-2xl bg-gray-100 py-2 pl-4 text-gray-400 line-through shadow-sm;
}

.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.5);
}
